.contact-link:hover {
  cursor: pointer;
}
.contact-target {
  @extend .header-style;
}
.contact-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  img {
    margin: 50px;
  }
}
