.contact-link:hover {
  cursor: pointer;
}
.contact-target {
  @extend .header-style;
}
.contact-icons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8%;
  & :hover {
    transform: scale(1.3);
  }
}
