.experience {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  h1 {
    text-align: center;
    margin: 0;
  }
}
.experience-link:hover {
  cursor: pointer;
}
