.landing {
  display: flex;
  background-image: url('img/hawaii.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 70vh;
  justify-content: center;
  align-items: center;
  border-bottom: 10px solid black;
  z-index: 1;
  @include small {
    height: 70vh;
  }
  h1 {
    //responsive for height?
    font-size: 6vh;
    // font-size: 6em;
    text-align: center;
    color: white;
    margin-top: 100px;
    letter-spacing: 12px;
    text-shadow: 3px 5px 8px #000;
    @include small {
      // font-size: 4em;
      font-size: 5vh;
    }
  }
}
.landing-opacity {
  background-color:rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
}
.landing-text {
  color: white;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: -50px;
  p {
    font-size: 2vh;
    @include small {
      font-size: 2vh;
      // font-size: 1.2em;
    }
  }
}
