.container {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
}

.header-style {
  font-size: 50px;
  letter-spacing: 7px;
  text-indent: 10px;
  @include small {
    font-size: 7vw;
    letter-spacing: 8px;
  }
}
