.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  z-index: 1;
}

.header-style {
  font-size: 60px;
  letter-spacing: 10px;
  @include small {
    font-size: 10vw;
  }
}
