.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  opacity: .7;
  li {
    list-style-type: none;
    display: inline;
    padding-right: 20px;
  }
  h2{
    margin: none;
    letter-spacing: 3px;
  }
}

.navbar, .footer {
  background-color: #373737;
  color: white;
  height: 40px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#back-to-top {
  padding-right: 5%;
  height: 20px;
}
#copywrite {
  padding-left: 5%;
}
#back-to-top:hover {
  cursor: pointer;
}
