.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  opacity: .8;
  border: 1px solid white;
  @include small {
    justify-content: center;
    width: 100%;
  }
  li {
    list-style-type: none;
    display: inline;
    padding-right: 20px;
    @include small {
      display: none;
      padding: 0;
    }
  }
  h2{
    margin-left: 1%;
    letter-spacing: 4px;
    @include small {
      text-indent: 20px;
      font-size: 20px;
      letter-spacing: 7px;
      padding-left: 20px;
    };
  }
}

.navbar, .footer {
  background-color: #373737;
  color: white;
  height: 40px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: .8;
  p {
    margin: 0;
    display: inline;
  }
}
#back-to-top {
  padding-right: 20px;
  height: 20px;
  margin-bottom: 20px;
}
#copywrite {
  margin-left: 2%;
}
#back-to-top:hover {
  cursor: pointer;
}
