*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; }

@font-face {
  font-family: LemonMilk;
  src: url("LemonMilk.otf"); }
.container {
  display: flex;
  flex-direction: column; }

.main {
  display: flex;
  flex-direction: column; }

.header-style, .contact-target, .skills-target, .experience-target {
  font-size: 50px;
  letter-spacing: 7px;
  text-indent: 10px; }
  @media (max-width: 545px) {
    .header-style, .contact-target, .skills-target, .experience-target {
      font-size: 7vw;
      letter-spacing: 8px; } }

.contact-link:hover {
  cursor: pointer; }

.contact-icons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8%; }
  .contact-icons :hover {
    transform: scale(1.2); }

.icons img {
  height: 65px;
  width: auto; }

h1 {
  text-align: center;
  padding-top: 40px; }

.skills {
  display: flex;
  flex-direction: column; }
  .skills li {
    list-style-type: none;
    font-size: 35px;
    padding: 10px; }
    @media (max-width: 545px) {
      .skills li {
        font-size: 23px;
        padding: 0;
        text-align: center; } }

.skills-link:hover {
  cursor: pointer; }

.effects {
  display: none;
  margin-left: -40px;
  text-align: center; }

.effects li:before,
.effects li:after {
  display: inline-block;
  opacity: 0;
  transition: transform 0.3s, opacity 0.2s; }

.effects li:before {
  margin-right: 10px;
  content: '{';
  transform: translate(20px); }

.effects li:after {
  margin-left: 10px;
  content: '}';
  transform: translate(-20px); }

.effects li:hover:before,
.effects li:hover:after,
.effects li:focus:before,
.effects li:focus:after {
  opacity: 1;
  -webkit-transform: translate(0px);
  -moz-transform: translate(0px);
  transform: translate(0px); }

.experience {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  padding: 50px; }
  .experience h1 {
    text-align: center;
    z-index: -1;
    margin-bottom: 50px;
    margin-top: -150px; }

.experience-link:hover {
  cursor: pointer; }

.experience h2 {
  text-align: center;
  font-size: 40px; }
  @media (max-width: 545px) {
    .experience h2 {
      font-size: 25px; } }

.experience h2:last-of-type {
  margin-top: 100px; }
  @media (max-width: 545px) {
    .experience h2:last-of-type {
      margin-top: 60px; } }

.landing {
  display: flex;
  background-image: url("img/hawaii2.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-bottom: 10px solid black;
  z-index: 1; }
  @media (max-width: 545px) {
    .landing {
      height: 100%; } }
  .landing h1 {
    font-size: 4vw;
    margin-top: -20px;
    font-weight: lighter;
    font-family: LemonMilk;
    text-align: center;
    color: white;
    letter-spacing: 13px;
    margin-bottom: 20px;
    padding-bottom: 20px; }
    @media (max-width: 545px) {
      .landing h1 {
        font-size: 23px;
        letter-spacing: 5px;
        margin-bottom: 15px; } }
    @media (min-width: 1300px) {
      .landing h1 {
        font-size: 35px; } }

.landing-opacity {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative; }

#learn-more {
  align-self: center; }

.landing-text {
  color: white;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: -20px;
  margin-bottom: 50px; }
  @media (max-width: 545px) {
    .landing-text {
      margin-left: 3%;
      margin-right: 3%; } }
  .landing-text p {
    font-size: 16px;
    display: none; }
    @media (max-width: 545px) {
      .landing-text p {
        font-size: 15px;
        line-height: 23px; } }
    @media (min-width: 1300px) {
      .landing-text p {
        font-size: 18px; } }

#me {
  height: auto;
  width: 190px;
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 50px;
  filter: sepia(10%); }
  @media (max-width: 545px) {
    #me {
      width: 150px;
      height: auto;
      margin-top: 40px; } }

#backdrop {
  border-radius: 5px;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  width: 80%;
  height: 100%;
  align-self: center;
  padding-left: 30px;
  padding-right: 30px; }
  @media (max-width: 545px) {
    #backdrop {
      margin-top: 85px; } }

.panel {
  height: 350px;
  width: 350px;
  min-width: 350px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5%;
  flex-grow: 1;
  transition: all 0.3s cubic-bezier(0, 1.33, 0.49, 1.9); }
  @media (max-width: 545px) {
    .panel {
      width: 200px;
      margin: 15px; } }
  .panel p {
    font-size: 20px;
    margin: 7px;
    color: white; }

.panel:hover {
  transform: scale(1.1);
  cursor: pointer; }

#panel-section a, #designs a {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  flex-grow: 1; }

#panel-section, #designs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap; }

.panel-img, #album-artwork-img, #drunk-tank-img, #get-doctor-img, #animal-tracker-img, #cutthroat-img, #johnson-img, #meat-img, #quickhorse-img, #righton-img, #oap-img, #eber-img, #pickup-img, #trailbank-img, #craft-img, #soundcloud-img {
  width: 100%;
  height: 100%;
  border-top: 1px solid black;
  background-size: cover;
  background-position: top center; }

#album-artwork-img {
  background-image: url(img/album-artwork.png); }

#drunk-tank-img {
  background-image: url(img/drunk-tank.png); }

#get-doctor-img {
  background-image: url(img/get-doctor.png); }

#animal-tracker-img {
  background-image: url(img/animal-tracker.png); }

#cutthroat-img {
  background-image: url(img/cutthroat.png); }

#johnson-img {
  background-image: url(img/johnson.png); }

#meat-img {
  background-image: url(img/meat.png); }

#quickhorse-img {
  background-image: url(img/quickhorse.png); }

#righton-img {
  background-image: url(img/righton/rightonbluedisplay.png); }

#oap-img {
  background-image: url(img/oap/oap.png); }

#eber-img {
  background-image: url(img/eber/eber.png); }

#pickup-img {
  background-image: url(img/gameplay.png); }

#trailbank-img {
  background-image: url(img/trailbank.png); }

#craft-img {
  background-image: url(img/craft/craft-intro.png); }

#soundcloud-img {
  background-image: url(img/soundcloud/soundcloud.png); }

.text {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .8;
  visibility: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.panel:hover .text {
  visibility: visible; }

.text p {
  font-size: 25px; }

.text p, h3 {
  color: white;
  text-align: center;
  margin: 15px; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content/Box */
.modal-content {
  -webkit-overflow-scrolling: touch;
  text-align: center;
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */ }
  .modal-content img {
    height: 45%;
    width: 45%; }

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -15px; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

#johnson {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  #johnson img {
    margin: 10px; }

#meat, #quickhorse {
  width: 100%; }
  #meat img, #quickhorse img {
    width: 100%; }

#craft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #craft img {
    width: 100%; }

.process {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .process img {
    margin: 10px; }

#righton {
  display: flex;
  flex-direction: column;
  align-items: center; }

img {
  margin-top: 10px; }

#oap {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around; }

.oap-process {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around; }

#eber img {
  width: 95%;
  height: auto; }

#eber-lowfidelity {
  width: 90%;
  height: auto; }

#sitemap {
  width: 90%;
  height: auto; }

.modal-text p {
  display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 18px;
  text-align: center; }
  @media (max-width: 545px) {
    .modal-text p {
      font-size: 15px;
      margin-left: 3%;
      margin-right: 3%; } }

.modal-text h3 {
  color: black;
  font-size: 24px; }
  @media (max-width: 545px) {
    .modal-text h3 {
      font-size: 20px; } }

.wireframe {
  width: 90%;
  height: auto;
  padding-top: 20px; }

.left {
  margin-top: 70px; }

#eber-final {
  margin-top: 50px; }

.modal-header {
  font-size: 3vw; }
  @media (max-width: 545px) {
    .modal-header {
      font-size: 4vw; } }

#trailbank img {
  width: 100%;
  height: auto; }

#soundcloud-example {
  width: 100%;
  height: auto; }

#soundcloud {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

#soundcloud img {
  padding: 30px;
  max-width: 400px; }
  @media (max-width: 545px) {
    #soundcloud img {
      width: 50%; } }

.soundcloud-process {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.soundcloud-process img {
  border: 1px solid black;
  margin: 20px;
  max-width: 350px; }
  @media (max-width: 545px) {
    .soundcloud-process img {
      width: 50%; } }

.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  opacity: .8;
  border-bottom: 1px solid white; }
  @media (max-width: 545px) {
    .navbar {
      justify-content: center;
      width: 100%; } }
  .navbar li {
    list-style-type: none;
    display: inline;
    padding-right: 20px; }
    @media (max-width: 545px) {
      .navbar li {
        display: none;
        padding: 0; } }
  .navbar h2 {
    margin-left: 1%;
    letter-spacing: 4px; }
    @media (max-width: 545px) {
      .navbar h2 {
        text-indent: 20px;
        font-size: 20px;
        letter-spacing: 7px;
        padding-left: 20px; } }

.navbar, .footer {
  background-color: black;
  color: white;
  height: 40px; }

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: .8; }
  .footer p {
    margin: 0;
    display: inline; }

#back-to-top {
  padding-right: 20px;
  height: 20px;
  margin-bottom: 20px; }

#copywrite {
  margin-left: 2%; }

#back-to-top:hover {
  cursor: pointer; }

/*# sourceMappingURL=output.css.map */
