*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; }

.container {
  display: flex;
  flex-direction: column; }

.main {
  display: flex;
  flex-direction: column; }

.header-style, .contact-target, .skills-target, .experience-target {
  font-size: 60px;
  letter-spacing: 10px;
  text-indent: 10px; }
  @media (max-width: 545px) {
    .header-style, .contact-target, .skills-target, .experience-target {
      font-size: 10vw; } }

.contact-link:hover {
  cursor: pointer; }

.contact-icons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8%; }
  .contact-icons :hover {
    transform: scale(1.3); }

h1 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px; }

.skills {
  display: flex;
  flex-direction: column; }
  .skills li {
    list-style-type: none;
    font-size: 40px;
    padding: 20px; }
    @media (max-width: 545px) {
      .skills li {
        font-size: 23px;
        padding: 20px; } }

.skills-link:hover {
  cursor: pointer; }

.effects {
  display: none; }

.effects li:before,
.effects li:after {
  display: inline-block;
  opacity: 0;
  transition: transform 0.3s, opacity 0.2s; }

.effects li:before {
  margin-right: 10px;
  content: '{';
  transform: translate(20px); }

.effects li:after {
  margin-left: 10px;
  content: '}';
  transform: translate(-20px); }

.effects li:hover:before,
.effects li:hover:after,
.effects li:focus:before,
.effects li:focus:after {
  opacity: 1;
  -webkit-transform: translate(0px);
  -moz-transform: translate(0px);
  transform: translate(0px); }

.experience {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 100%; }
  .experience h1 {
    text-align: center;
    z-index: -1;
    margin-bottom: 50px;
    margin-top: -150px; }

.experience-link:hover {
  cursor: pointer; }

.landing {
  display: flex;
  background-image: url("img/hawaii.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  border-bottom: 10px solid black;
  z-index: 1; }
  @media (max-width: 545px) {
    .landing {
      height: 100vh; } }
  .landing h1 {
    font-size: 9vh;
    text-align: center;
    color: white;
    margin-top: 100px;
    letter-spacing: 12px;
    text-shadow: 3px 5px 8px #000;
    display: none; }
    @media (max-width: 545px) {
      .landing h1 {
        font-size: 7vh; } }

.landing-opacity {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative; }

#learn-more {
  align-self: center;
  position: absolute;
  bottom: 2%; }

.landing-text {
  color: white;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: -50px; }
  .landing-text p {
    font-size: 2vh;
    display: none; }

.panel {
  height: 350px;
  width: 350px;
  border: 1px solid black;
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5%;
  flex-grow: 1;
  transition: all .3s ease-in-out;
  box-shadow: 3px 3px 3px 3px #393838; }
  @media (max-width: 545px) {
    .panel {
      width: 200px; } }
  .panel p {
    font-size: 30px;
    margin: 0; }

.panel:hover {
  transform: scale(1.1); }

#panel-section a {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  flex-grow: 1; }

#panel-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap; }

.panel-img, #blazer-img, #arctic-wild-img, #album-artwork-img, #rotten-tomatoes-img, #drunk-tank-img, #get-doctor-img, #animal-tracker-img, #cutthroat-img, #geocacher-img {
  width: 100%;
  height: 100%;
  border: solid black 2px;
  background-size: cover;
  background-position: top center; }

#blazer-img {
  background-image: url(img/blazers.png); }

#arctic-wild-img {
  background-image: url(img/arctic-wild.png); }

#album-artwork-img {
  background-image: url(img/album-artwork.png); }

#rotten-tomatoes-img {
  background-image: url(img/rotten-tomatoes.png); }

#drunk-tank-img {
  background-image: url(img/drunk-tank.png); }

#get-doctor-img {
  background-image: url(img/get-doctor.png); }

#animal-tracker-img {
  background-image: url(img/animal-tracker.png); }

#cutthroat-img {
  background-image: url(img/cutthroat.png); }

#geocacher-img {
  background-image: url(img/geocacher.png); }

.text {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .8;
  visibility: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.panel:hover .text {
  visibility: visible; }

.text p {
  font-size: 25px; }

.text p, h3 {
  color: white;
  text-align: center;
  margin: 15px; }

.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  opacity: .8; }
  @media (max-width: 545px) {
    .navbar {
      justify-content: center;
      width: 100%; } }
  .navbar li {
    list-style-type: none;
    display: inline;
    padding-right: 20px; }
    @media (max-width: 545px) {
      .navbar li {
        display: none; } }
  .navbar h2 {
    margin-left: 1%;
    letter-spacing: 4px; }
    @media (max-width: 545px) {
      .navbar h2 {
        text-indent: 20px;
        font-size: 20px;
        letter-spacing: 7px;
        padding-left: 20px; } }

.navbar, .footer {
  background-color: #373737;
  color: white;
  height: 40px;
  border: 1px solid white; }

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: .8; }
  .footer p {
    margin: 0;
    display: inline; }

#back-to-top {
  padding-right: 4%;
  height: 20px; }

#copywrite {
  margin-left: 2%; }

#back-to-top:hover {
  cursor: pointer; }

/*# sourceMappingURL=output.css.map */
