*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; }

.container {
  display: flex;
  flex-direction: column; }

.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column; }

.header-style, .contact-target, .skills-target, .experience-target {
  font-size: 60px;
  letter-spacing: 10px; }
  @media (max-width: 540px) {
    .header-style, .contact-target, .skills-target, .experience-target {
      font-size: 10vw; } }

.contact-link:hover {
  cursor: pointer; }

.contact-icons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px; }

h1 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px; }

.skills {
  display: flex;
  flex-direction: column; }
  .skills li {
    list-style-type: none;
    font-size: 40px;
    padding: 20px; }
    @media (max-width: 540px) {
      .skills li {
        font-size: 10vw;
        padding: 20px; } }

.skills-link:hover {
  cursor: pointer; }

.experience {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 100%; }
  .experience h1 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: -150px; }

.experience-link:hover {
  cursor: pointer; }

.landing {
  display: flex;
  background-image: url("img/hawaii.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 700px;
  justify-content: center;
  align-items: center;
  border-bottom: 10px solid black; }
  @media (max-width: 540px) {
    .landing {
      height: 600px; } }
  .landing h1 {
    font-size: 60px;
    text-align: center;
    color: white;
    margin-top: 100px;
    letter-spacing: 12px; }
    @media (max-width: 540px) {
      .landing h1 {
        text-align: center;
        font-size: 10vw; } }

.landing-opacity {
  background-color: rgba(0, 0, 0, 0.4);
  width: 80%;
  height: 100%;
  border-left: 1px solid white;
  border-right: 1px solid white;
  z-index: 0; }

.landing-text {
  color: white;
  opacity: 1;
  z-index: 1;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: -50px; }
  .landing-text p {
    font-size: 20px; }
    @media (max-width: 540px) {
      .landing-text p {
        font-size: 4vw; } }

.panel {
  height: 350px;
  width: 350px;
  border: 1px solid black;
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  flex-grow: 1;
  transition: all .2s ease-in-out; }
  @media (max-width: 540px) {
    .panel {
      width: 80%; } }
  .panel p {
    font-size: 30px;
    margin: 0; }

.panel:hover {
  transform: scale(1.1); }

.panel-img, #blazer-img, #arctic-wild-img, #album-artwork-img, #rotten-tomatoes-img {
  background-image: url("img/blazers.png");
  background-size: cover;
  background-position: center; }

#panel-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap; }

.panel-img, #blazer-img, #arctic-wild-img, #album-artwork-img, #rotten-tomatoes-img {
  width: 100%;
  height: 80%;
  border: solid black 2px;
  background-size: cover;
  background-position: top center; }

#blazer-img {
  background-image: url(img/blazers.png); }

#arctic-wild-img {
  background-image: url(img/arctic-wild.png); }

#album-artwork-img {
  background-image: url(img/album-artwork.png); }

#rotten-tomatoes-img {
  background-image: url(img/rotten-tomatoes.png);
  width: 100%; }

.text {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .8;
  visibility: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.panel:hover .text {
  visibility: visible; }

.text p {
  font-size: 25px; }

.text p, h3 {
  color: white;
  text-align: center;
  margin: 15px; }

.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  opacity: .8; }
  @media (max-width: 540px) {
    .navbar {
      justify-content: center;
      width: 100%; } }
  .navbar li {
    list-style-type: none;
    display: inline;
    padding-right: 20px; }
    @media (max-width: 540px) {
      .navbar li {
        display: none; } }
  .navbar h2 {
    margin-left: 1%;
    letter-spacing: 4px; }
    @media (max-width: 540px) {
      .navbar h2 {
        letter-spacing: 7px;
        margin-left: 8%; } }

.navbar, .footer {
  background-color: #373737;
  color: white;
  height: 40px;
  border: 1px solid white; }

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: .8; }
  .footer p {
    margin: 0; }

#back-to-top {
  padding-right: 5%;
  height: 20px; }

#copywrite {
  padding-left: 2%; }

#back-to-top:hover {
  cursor: pointer; }

/*# sourceMappingURL=output.css.map */
